name: Build

on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master
      - dev

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Ensure tags are fetched too

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.9.3

      - name: Add Helm dependency repos
        run: |
          helm repo add docker-registry https://helm.twun.io
          helm repo add minio https://charts.min.io/
          helm repo add redis https://charts.bitnami.com/bitnami

      - name: update and build Helm dependency repos
        run: |
          helm dependency update charts/hypha
          helm dependency build charts/hypha

